<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza App</title>
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/views/style.css">
</head>

<body>

    <nav class="container mt-2 px-6 flex items-center justify-between">
        <div>
            <img src="/img/logo.png" alt="pizza">
        </div>

        <div>
            <ul class="flex items-center">
                
                   <li class="ml-6"><a href="#">Home</a></li> 
                   <li class="ml-6"> <a href="#">Offers</a></li> 
                   <li class="ml-6"><a href="#">Login</a></li> 
                   <li class="ml-6"><a  id="last" class="inline-block px-4 py-2 rounded-full"  href="#"><img src="/img/cart.png" alt=""></a></li>  
                
            </ul>
        </div>
    </nav>

    <section class="hero py-16">

    <div class="container mx-auto px-14 flex items-center justify-between">
        <div class="right w-1/2">

            <h1 class="text-lg font-thin px-3" > <em>Easy Breezy Cheesy</em></h1>
            <h6 class="text-6xl font-bold"><em>Don't Wait!!</em></h6>

        </div>

        <div class="left w-1/2">

            <img class="img1 mix-blend-mode: multiply;" src="/img/pizza.jpg" alt="">

        </div>

    </div>
    </section>

    <section class="menu container mx-auto py-8">
          
         <h1 class="font-medium px-3">Pick Your Favourite(s)</h1>
         <div  class="grid grid-cols-4 row-gap-16 col-gap-12">

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img  class="h-40 mb-3 mx-auto px-1 py-1 mt-2" src="/img/piz1.jpg" alt="">

                <div class="text-center">
                    <h2 class="mb-4  font-medium">Margherita</h2>
                    <span class=" size font-medium py-1 px-4 rounded-full text-xs uppercase ">small</span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="px-6 font-bold">$250</span>
                        <button class="py-1 px-5 add-to-cart rounded-full flex items-center">
                            <span>+</span>
                            <span class="font-medium ml-3">Add</span>
                        </button>
                    </div>
                </div>
            </div>




         </div>

    </section>





    <script src="js/app.js"></script>
</body>

</html>