<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pizza App</title>
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/views/style.css">
<style>
  /* Basic styling for the navbar */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #f8f8f8;
    overflow: hidden;
    display: inline;
  }
  .navbar a {
    float: left;
    /* display: inline; */
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: #000;
  }

  .cart{
    background: orange;
    padding: 2rem;
    width: 4.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    
  }

  #cart:hover{
    background: rgb(106, 85, 46) ;
    
  }

</style>
</head>
<body>
    <nav class="container mt-2 px-6 flex items-center justify-between">
        <div>
            <img src="/img/logo.png" alt="pizza">
        </div>
<div class="navbar">
  <a href="/">Home</a></li>

  <% if(user) { %>

    <form  id="logout" action="/logout" method="post">

      <a onclick="Document.getElementById('logout').submit()"  href="#">Logout</a></li> 

    </form>
    
     
  
      
  <% } else { %>
      <a href="/register">Register</a></li>
      <a href="/login">Login</a></li>

  <% }  %>
  <a href="#about">About Us</a></li>
  <a href="#contact">Contact</a></li>
  
  <a  id="last" class=" cart px-5 py-1 ml-8 rounded-full mb-3"  href="/cart">
    <span id="cartCounter" class="text-white font-bold pr-2"><%= session.cart? session.cart.totalQty : ''%></span>
    <img id="last1" class="mr-4"
    
    src="/img/cart.png" alt="cart invalid"></a>
</div>
</nav>
<!-- Rest of your website content here -->
<%- body %>
<script src="js/app.js"></script>
</body>
</html>