@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    height: 4000px;
} */

nav li #last{
    background-color: orange;
}

nav li a:hover{
    color: orange;
}

nav li #last:hover{
    background-color: rgb(203, 92, 52)


}

nav li .ml-6{
    transition: 0.2s ease-in-out;
}

section.hero{
    background: whitesmoke;
}

.img1{
    mix-blend-mode: multiply;
}

.size{
    background-color: whitesmoke;
}

.add-to-cart{
    border: 2px solid orange;
    color: orange;
    transition: 0.2s ease-in-out;

}

.add-to-cart:hover{
    background:orange;
    border-color: white;
    color: white;
}

.add-to-cart:focus{
    background:rgb(153, 142, 122);
    outline:none;
    color: whitesmoke;
}

.btn-primary{
    background: orange;
    transition: 0.2s ease-in-out;
}

.btn-primary:hover{
    background-color: rgb(137, 103, 39);
}


.cart{
    background-color: whitesmoke;
}

.width{
    width: 15%;
}

.order{
    width: 50%;
}

.txt{
    text-align: right;
    padding: 4px;
}

.amount{
    color: orange;
}

.input1{
    border: 1px solid gray;
    padding: 3px;
}

.form{
    margin-top: 2.5rem;
}

.flex-1{
    flex: 1 1 0%;
}

.my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn{
    margin-top: 1.5rem;
}



.border{
    border: 2px solid gray;
}

.login-div{
    margin-top:4rem;
    /* justify-content: center; */
}

.email{
    margin-top: 3rem;
}

/* main-div{
    justify-content: center;
} */

.sign-in-text{
    text-align: center;
}

.register{
    background: whitesmoke;
    min-height: 100vh;
}

.login{
    background: whitesmoke;
    min-height: 100vh;
}



.login-button{
    background: orange;
}

.login-button:hover{
    background: rgb(247, 201, 116);
    transition: 0.2s ease-in-out;
}

.forgot-pwd{
    color: orange;
}

.forgot-pwd:hover{
    color: rgb(252, 207, 125);
}

.register-button{
    background: orange;
    
} 

.register-button:hover{
    background:rgb(121, 97, 51) ;
    transition: 0.2s ease-in-out;
}
.p{
    color: antiquewhite;
}

.register-anchor{
    color: orange;
    margin-left: 10.5rem;
    
}

.register-anchor:hover{
    color: rgb(245, 204, 127);
}

.login-anchor{
    color: orange;
    margin-left: 10.3rem;
    
}

.login-anchor:hover{
    color: rgb(245, 204, 127);
}

.outline1:focus-visible{
    outline-color: orangered;
    outline-style: solid;
}

.go-back-btn{
    background: orange;
    margin-top: 3rem;
}

.go-back-btn:hover{
    background:rgb(125, 99, 49);
    transition: 0.2s ease-in-out;
}

.w{
    height: 20rem;
    width: 25rem;

    margin-top: 1rem;
}

.cart-empty{
    color: gray;
    margin-top: 1rem;
}

.empty-cart{
    background: whitesmoke;
    min-height: 100vh;
}

.empty-cart-h1{
    margin: 2rem;
}

/* .order{
    background: whitesmoke;
   
} */

.pizza-list{
    margin: 2rem;
    
}

/* #last1{
   padding-left: 4rem;
} */

#cartCounter{
   padding-right: 2rem;
   padding-bottom: 1rem;
   justify-items: center;
   padding-right: 0.3rem;
   
}

.login-to-continue{
    display: flex;
    width: 12rem;
    justify-content: center;
   margin-top: 5rem;
   margin-left: 12rem;
}

#success-alert{
    background: rgb(104, 170, 104);
    height: 3rem;
    width: 60rem;
    
}

a.link{
    color: orange;
}


.welcome-text{
    color: rgb(185, 158, 108);
    font-style:normal;
}

/* .welcome-container{
   max-width: 100%;
} */

.welcome-msg{
display: inline-block;
 max-width: 60%;
}

.pizza-slice{
    max-width: 85%;
}


.home-footer{
    background-color: rgb(152, 148, 148);
    height: 50vh;
    width: auto;
}

.list1{
    margin-left: 12rem;
}

.footer-items{
    margin-left: 10rem;
}

.l1{
    color: rgb(250, 246, 246);
    font-weight: 600;
}

.copyright{
    background-color: rgb(90, 87, 87);
    height: 10vh;
    
}

.u1{
    list-style-type: none;
    margin-top: 2rem;
}


.status{
    min-height: 100vh;
}

.status-box{
    padding: 2rem;
}

.status-box ul li span{
    position: relative;
}

.status-box ul li span::after{
    content: '';
    position: absolute;

    left:-10px;
    top:40%;
    background: rgb(91, 90, 90) ;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-60%);
    box-shadow: 0 0 1px 5px ;
    color: rgb(162, 161, 161);

}

/* icons
 */


.status-box ul li span::before{
     
     font-family: "Line Awesome Free";

     font-size: 2rem;
     font-weight: 600;
     position: absolute;
     left: -80px ;
     top: 20%;
     transform: translate(-50%);
     color: inherit;

}



.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}


.status-box ul li:nth-child(3) span:before{
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before{
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before{
    content: '\f582';
}

.status-box ul{
    margin-left: 6rem;
}

.status-box ul li{
    position: relative;
}

.status-box ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 2px;
    height: 100%;
    background: rgb(30, 29, 29);

    margin-top: 10px;
}

.status-box ul li:nth-child(5) span::after{
    box-shadow: 0 0 1px 5px  ;
}


/* line  */
.status-box ul li.step-completed:before{
      background: rgb(212, 211, 211);
}

/* dots */

.status-box ul li.step-completed span:after{
    background: rgb(212, 211, 211);
}

/* text  */

.status-box ul li.step-completed span{
    color: rgb(212, 211, 211);


}

/* current status  */

.status-box ul li.current span{
    color: orangered;
}

.status-box ul li.current span::after{
    background: orangered;
}















