@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 4000px;
}

nav li #last{
    background-color: orange;
}

nav li a:hover{
    color: orange;
}

nav li #last:hover{
    background-color: rgb(203, 92, 52)


}

nav li .ml-6{
    transition: 0.2s ease-in-out;
}

section.hero{
    background: whitesmoke;
}

.img1{
    mix-blend-mode: multiply;
}

.size{
    background-color: whitesmoke;
}

.add-to-cart{
    border: 2px solid orange;
    color: orange;
    transition: 0.2s ease-in-out;

}

.add-to-cart:hover{
    background:orange;
    border-color: white;
    color: white;
}

